@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bitcount Single';
}

body {
    background-color: #ffffbd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #ffffe0;
    height: 90vh;
    padding: 5rem;
    border: 5px dotted #525252;
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #e1bdff;
}

#result {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #525252;
    text-align: right;
}

#result > p {
    display: inline;
}

#result > p:hover {
    text-decoration: underline;
}

.boardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.gameboard {
    width: calc(10 * 2.5rem + 4px);
    height: calc(10 * 2.5rem + 4px);
    line-height: 0;
    border: dashed 2px black;
}

.grid {
    width: 2.5rem;
    height: 2.5rem;
    border: dashed 1px black;
    display: inline-block;
}

.grid[data-y="0"] {
    border-left: none;
}

.grid[data-x="0"] {
    border-top: none;
}

.grid[data-x="9"] {
    border-bottom: none;
}

.grid[data-y="9"] {
    border-right: none;
}

.name {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}